body {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

.subt h1 {
    color: rgb(32, 44, 40);
    text-align: center;
}

.subt h2 {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.Img {
    object-fit: calc(2s);
    transition: transform 1.5s ease
}

.Img:hover {
    transform: scale(1.05);
}

.textMusica {
    text-align: end;
}

#img {
    object-fit: calc(2s);
    transition: transform 1.5s ease
}

#img:hover {
    transform: scale(1.05);
}

.Imagem{
    text-align: end;
}

.txtMusica {
    text-align: end;
    color: gray;
}

.txtMusica a {
    color: gray;
    text-decoration: none;
}

.txtMusica a:hover {
    color: black;
    transition: 0.7s;
}
